<!-- COMIENZO DEL FOOTER -->
<footer id="footer-onepage" class="bg-color">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-info left">
                        Sábado, 21 de diciembre de 2024 a las 06:00 pm<br>
                        Club Naval para oficiales, Salón Claraboya
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-logo">
                        Angela<br>
                        <small>&</small><br>
                        Jairo
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-info right">
                        Tel.: (849) 456-4640 | (849) 875-8429<br>
                        Correos electrónicos:<br> jairogmelo02&#64;gmail.com <br> angelatejeda1712&#64;hotmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FIN DEL FOOTER -->