<!-- COMIENZO DE LA SECCIÓN SOBRE NOSOTROS -->
<section id="about-us">
    <div class="container">
        <div class="row about-elems-wrapper justify-content-center">

            <div class="divider-about-us" data-animation-direction="fade" data-animation-delay="500">
                <i class="icon-two-hearts"></i>
            </div>

            <div class="element col-md-6 col-xl-4" data-animation-direction="from-right" data-animation-delay="400">
                <div class="image">
                    <img src="assets/images/hero/front-bg.jpg" alt="" />
                    <div class="hover-info neela-style">
                        <div class="content">
                            <h3>Angela Tejeda<br> & <br>Jairo Melo<small>Los Novios</small></h3>
                            <p>¡Es todo lo que siempre soñé y estoy emocionada de pasar el resto de mi vida
                                con él!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="about-us-desc col-lg-8 offset-lg-2" data-animation-direction="from-bottom"
                data-animation-delay="300">
                <h3><small>Nosotros estamos</small>Casándonos</h3>
                <p>Hoy y siempre, más allá del mañana, te necesito a mi lado, siempre como mi mejor amigo,
                    amante y mi alma gemela para siempre. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Fusce tincidunt porttitor venenatis. Vestibulum sit amet est nisl. Vestibulum
                    iaculis finibus sem nec condimentum. Quisque nulla orci, aliquet sit amet sem eget,
                    pellentesque euismod enim. Aenean quis nisl at est consequat elementum sed vel turpis.
                    Phasellus dignissim sit amet orci vitae mattis. Phasellus a imperdiet ligula, efficitur
                    dignissim ex. Mauris placerat aliquet sem commodo molestie.</p>
            </div>
        </div>
    </div>
</section>
<!-- FIN DE LA SECCIÓN SOBRE NOSOTROS -->