<!-- COMIENZO DE LA SECCIÓN GALERÍA -->
<section id="gallery" class="parallax-background padding-divider-top section-divider-bottom-1">
    <div class="section-divider-top-1 off-section"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title">Galería de la Boda</h1>
            </div>
        </div>
    </div>

    <div class="gallery-wrapper">
        <div class="gallery-left"><i class="fas fa-chevron-left"></i></div>
        <div class="gallery-right"><i class="fas fa-chevron-right"></i></div>

        <div class="gallery-scroller">
            <ul>
                <div class="photo-container" id="photo-container">

                </div>
            </ul>
        </div>

        <div class="center mt-5">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photoModal">+</a>
        </div>
    </div>
</section>
<!-- FIN DE LA SECCIÓN GALERÍA -->