<!-- COMIENZO DE LA SECCIÓN REGALOS DE BODA -->
<section id="giftregistry" class="section-bg-color parallax-background padding-divider-top section-divider-bottom-1">
    <div class="section-divider-top-1 off-section"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-6">
                <h2 class="section-title-lg uppercase desc"><small>Lista de</small><strong>Regalos</strong>
                </h2>
                <div class="section-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius
                    ante libero, a sollicitudin elit malesuada et. Nulla facilisi. Pellentesque magna diam,
                    mattis a gravida eget, lobortis ut velit. Nam interdum hendrerit nisl et malesuada.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-xl-6">
                <ul class="wedding-gifts">

                    <li id="gift-list" data-animation-direction="from-bottom" data-animation-delay="300">
                        <div class="neela-style">
                            <i class="icon-wedding"></i>
                            <h3>Consulta nuestra<br>lista de regalos</h3>

                            <div class="info">
                                <a href="https://listadeboda.plazalama.com/lbd/lista/ver/506" class="img"><img
                                        src="./assets/images/PlazaLama.png" alt="Plaza Lama" /></a>
                                <a href="https://www.amazon.com/hz/wishlist/ls/DTC415FO0ARW?ref_=wl_share"
                                    class="img"><img src="./assets/images/Amazon.png" alt="Amazon" /></a>
                            </div>
                        </div>
                    </li>

                    <li id="help-honeymoon" data-animation-direction="from-bottom" data-animation-delay="300">
                        <div class="neela-style">
                            <i class="icon-honeymoon"></i>
                            <h3>Tambien puedes contribuir a nuestra<br>luna de miel soñada</h3>

                            <div class="info">
                                ¡Puedes llamarnos personalmente y socilitar información sobre como podría ser posible!
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- FIN DE LA SECCIÓN REGALOS DE BODA -->