<!-- COMIENZO DE LA SECCIÓN CONTACTO -->
<section id="rsvp" class="section-bg-color padding-divider-top extra-padding-section"
    style="padding: 250px 0; padding-top: 350px !important;">
    <div class="section-divider-top-1 off-section"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2  col-xxl-6 offset-xxl-3">
                <div class="form-wrapper flowers neela-style">
                    <h1 class="section-title" style="margin: 0 auto 0px;">¡Muchísimas gracias por pasarte por
                        aquí!</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN DE LA SECCIÓN CONTACTO -->