<!-- COMIENZO DEL HEADER -->
<header id="header">
    <div class="nav-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#hero" class="nav-logo"><img src="assets/images/A_J_5.png" alt="A_J" /></a>

                    <!-- COMIENZO DEL MENÚ PRINCIPAL -->
                    <nav class="navbar">

                        <ul class="nav navbar-nav">
                            <li><a href="#hero">Inicio</a></li>

                            <li class="dropdown">
                                <a href="#about-us" data-toggle="dropdown" data-hover="dropdown">Sobre
                                    Nosotros<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#loveline">Línea del Amor</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#the-wedding" data-toggle="dropdown" data-hover="dropdown">La
                                    Boda<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#the-wedding">Invitación</a></li>
                                    <li><a href="#location">Ubicación</a></li>
                                    <li><a href="#testimonials">Testimonios</a></li>
                                    <li><a href="#giftregistry">Lista de Regalos</a></li>
                                </ul>
                            </li>

                            <li><a href="#gallery">Galería</a></li>

                            <li><a href="#blog">Blog</a></li>

                        </ul>

                        <button id="nav-mobile-btn"><i class="fas fa-bars"></i></button>
                    </nav>
                    <!-- FIN DEL MENÚ PRINCIPAL -->

                </div>
            </div>
        </div>
    </div>
</header>
<!-- FIN DEL HEADER -->