<!-- COMIENZO DE LA SECCIÓN TESTIMONIOS -->
<section id="testimonials" class="bg-color side-flowers-light padding-divider-top">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-xl-10 offset-xl-1">
                <div id="testimonials-slider" class="owl-carousel testimonials light"
                    data-animation-direction="from-bottom" data-animation-delay="300">
                    <div class="item">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius ante
                            libero, a sollicitudin elit malesuada et. Nulla facilisi. Pellentesque magna
                            diam,
                            mattis a gravida eget, lobortis ut velit. Nam interdum hendrerit nisl et
                            malesuada.
                            Nulla facilisis velit neque, sed ultrices nibh facilisis non.</blockquote>

                        <div class="author">
                            <h3>John Doe<small>Mejor Amigo</small></h3>
                        </div>
                    </div>

                    <div class="item">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius ante
                            libero, a sollicitudin elit malesuada et. Nulla facilisi. Pellentesque magna
                            diam,
                            mattis a gravida eget, lobortis ut velit. Nam interdum hendrerit nisl et
                            malesuada.
                            Nulla facilisis velit neque, sed ultrices nibh facilisis non.</blockquote>

                        <div class="author">
                            <h3>John Doe<small>Mejor Amigo</small></h3>
                        </div>
                    </div>

                    <div class="item">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius ante
                            libero, a sollicitudin elit malesuada et. Nulla facilisi. Pellentesque magna
                            diam,
                            mattis a gravida eget, lobortis ut velit. Nam interdum hendrerit nisl et
                            malesuada.
                            Nulla facilisis velit neque, sed ultrices nibh facilisis non.</blockquote>

                        <div class="author">
                            <h3>John Doe<small>Mejor Amigo</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN DE LA SECCIÓN TESTIMONIOS -->