<!-- COMIENZO DE LA SECCIÓN LA BODA -->
<section id="the-wedding" class="parallax-background bg-color-overlay padding-divider-top section-divider-bottom-1">
    <div class="section-divider-top-1 off-section"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title light">Invitación</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 center">
                <div class="invite neela-style" data-animation-direction="from-left" data-animation-delay="100">
                    <div class="invite_title">
                        <div class="text">
                            Guarda<small>la</small>Fecha
                        </div>
                    </div>

                    <div class="invite_info">
                        <h2>Angela <small>&</small> Jairo</h2>

                        <div class="uppercase">Solicitan el honor de su presencia el día de su boda</div>
                        <div class="date">21 de diciembre, 2024<small>a las 06:00 pm</small></div>
                        <div class="uppercase">En el Club Naval para Oficiales<br>Salón Claraboya</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN DE LA SECCIÓN LA BODA -->